<!--VehicleDetail View-->
@using System.Text.RegularExpressions
@section AdditionalMeta
{
    <meta name="keywords" content="36FT Pace Arrow 1240, Motorcoach Rentals, Luxury Diesel Rentals, Rv 1 slides, Coach 1 slides, Privately Owned Rental, Rv ">
    <meta name="description" content="When you drive this coach you will experience the road in no other way before. Come to Stanton on Beach Blvd, and rent this Rv today!">
}
@{
    var info = ViewBag.Info;
    var medias = info.MediaList;
    var amenities = info.AmenityList;
    var vehicles = info.VehicleList;
    var rand_vehicles = info.RandOtherVehicleList;
    var rentals = info.RentalList;
    var sleeps = Convert.ToInt32(info.Children ?? 0) + Convert.ToInt32(info.Adolescents ?? 0) + Convert.ToInt32(info.Adults ?? 0);
}
<link href="~/Content/css/detail.css" rel="stylesheet" />
<link href="~/Content/css/home.css" rel="stylesheet" />
<link href="~/Content/css/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Scripts/gallery/amazingslider-1.css" rel="stylesheet" />
<style>
    p {
        color: black;
    }
</style>
<div class="row">
    <div class="row pre-header" style="padding-top:0px;">
        @Html.Partial("~/Views/Home/_SearchSection.cshtml")
        <hr style="border:1px solid grey; margin-bottom:20px; margin-top:0px;" />
    </div>
    @if (info.IsLocationBehindOnPaying == true)
    {
        <div class="row pre-header" style="text-align:center;">
            <h1 style="color:black; padding-top:100px; padding-bottom:120px; font-size:30px;">This location is currently under maintenance.<br />Please check back later.</h1>
        </div>
    }
    else
    {
        <div>
            <div class="row pre-header visible-xs">
                <div class="col-xs-12 mobile-title">
                    <span style="color:black;">R.V. Details</span>
                </div>
            </div>
            <p hidden>@info.QuickFindKeyWord</p>
            <!--START mobile device-->
            <div class="row visible-xs" style="background-color:white;">
                <div class="col-xs-1"></div>
                <div class="col-xs-7">
                    @if (info.InsurancePolicy != null)
                    {
                        <h4 style="color:#000000; padding-top:15px;">@info.NameOnWeb<span style="color:black; font-size:10px;">&nbsp;&#10033;</span></h4>
                    }
                    else
                    {
                        <h4 style="color:#000000; padding-top:15px;">@info.NameOnWeb</h4>
                    }
                </div>
                <div class="col-xs-3">
                    <a href="javascript:void(0);" onclick="history.go(-1);">
                        <h4 style="float:right; color:black; padding-top:15px;"><span class="glyphicon glyphicon-arrow-left" style="color:black;"></span>&nbsp;Back</h4>
                    </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <!-- END mobile device-->
            <div class="row pre-header">
                <!--START Vehicle Image Slider-->
                <div class="col-lg-6 col-md-6">
                    @if (info.InsurancePolicy != null)
                    {
                        <h1 style="color:#000000; margin-left:20px; font-size:30px;">@info.NameOnWeb<span style="color:black; font-size:10px;">&nbsp;&#10033;</span></h1>
                    }
                    else
                    {
                        <h1 style="color:#000000; margin-left:20px; font-size:30px;">@info.NameOnWeb</h1>
                    }
                    <br />
                    <div id="amazingslider-wrapper-3" style="display:block;position:relative;max-width:900px;margin:0px auto 98px;">
                        <div id="amazingslider-3" style="display:block;position:relative;margin:0 auto;">
                            <ul class="amazingslider-slides" style="display:none;">
                                @if (!string.IsNullOrEmpty(info.WebTransportedID))
                                {
                                    <li>
                                        <img src="~/Content/images/black.png" />
                                        <video preload="none" data-mediatype=11 src="https://www.transported.co/t/KkjwmWEl?embeddable=true"></video>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(info.YouTubeID))
                                {
                                    <li>
                                        <a href="http://www.youtube.com/v/@info.YouTubeID" class="html5lightbox"><img src="http://img.youtube.com/vi/@info.YouTubeID/0.jpg" /></a>
                                    </li>
                                }
                                @if (medias != null && medias.Count > 0)
                                {
                                    foreach (var item in medias)
                                    {
                                        <li><img src="data:image/jpg;base64, @Convert.ToBase64String(item.Photo)" /></li>
                                    }
                                }
                            </ul>
                            <ul class="amazingslider-thumbnails" style="display:none;">
                                @if (!string.IsNullOrEmpty(info.WebTransportedID))
                                {
                                    <li><img src="~/Content/images/black.png" /></li>
                                }
                                @if (!string.IsNullOrEmpty(info.YouTubeID))
                                {
                                    <li><img src="http://img.youtube.com/vi/@info.YouTubeID/0.jpg" /></li>
                                }
                                @if (medias != null && medias.Count > 0)
                                {
                                    foreach (var item in medias)
                                    {
                                        <li><img src="data:image/jpg;base64, @Convert.ToBase64String(item.Photo)" /></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!--END Vehicle Image Slider-->
                <!--START Vehicle Information Section-->
                <div class="col-lg-6 col-md-6">
                    <section>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8" style="padding-left:45px;">
                                <h4 style="color:black;">Change Vehicle</h4>
                                <div class="form-group" style="margin-right:30px;">
                                    @if (vehicles != null && vehicles.Count > 0)
                                    {
                                        <select class="form-control form-custom" id="vehicle_id" onchange="getSelectedVehicle()">
                                            @foreach (var vehicle in vehicles)
                                            {
                                                if (string.Equals(vehicle.VehicleKey, info.QuickFindKeyWord))
                                                {
                                                    if (vehicle.ClassType == 1)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>A - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>A - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 2)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>B - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>B - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 3)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>C - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>C - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 7)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>TH - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>TH - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 8)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>TT - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>TT - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 9)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>UT - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId" selected>UT - @vehicle.Name</option>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (vehicle.ClassType == 1)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">A - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">A - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 2)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">B - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">B - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 3)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">C - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">C - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 7)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">TH - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">TH - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 8)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">TT - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">TT - @vehicle.Name</option>
                                                        }
                                                    }
                                                    else if (vehicle.ClassType == 9)
                                                    {
                                                        if (vehicle.InsurancePolicy != null)
                                                        {
                                                            <option value="@vehicle.WebUniqueId">UT - @vehicle.Name&nbsp;&#10033;</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@vehicle.WebUniqueId">UT - @vehicle.Name</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                </div>
                                <div style="padding-bottom:10px;">
                                    <h3 style="color:black;">Rate Information</h3>
                                    <span class="value-span">Daily Rate</span>
                                    <span class="value-span" style="margin-left:50px;">@info.DailyRate</span>
                                </div>
                                <div>
                                    <span class="detail-info-span">Reservation Information</span>
                                    <br />
                                    <span class="detail-info-span">Pickup Location :</span><span class="value-span">@info.LocationName</span>
                                    <br />
                                    <span class="detail-info-span">TEL : </span><a href='tel:@Regex.Replace(1 + info.PrimaryPhone, "[^0-9]+", string.Empty)'>@info.PrimaryPhone</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                                <a href="javascript:void(0);" onclick="history.go(-1);">
                                    <h4 style="text-align:center; color:black;"><span class="glyphicon glyphicon-arrow-left" style="color:black;"></span>&nbsp;Back</h4>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="padding-left:30px; padding-right:30px;">
                            <h3 style="text-align: center; color:black;">Amenities</h3>
                            <div class="col-lg-12">
                                <ul class="check-items">
                                    @if (amenities != null && amenities.Count > 0)
                                    {
                                        foreach (var amenity in amenities)
                                        {
                                            <li class="items"><span class="glyphicon glyphicon-ok"></span>@amenity.AmenityName</li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="items" style="font-weight:bold; font-style:italic; color:red; font-size:12px;">None</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align:center">
                                <button type="button" class="btn btn-lg" id="checkout" style="background-color:#ff0000; color:#fff; margin-top:-10px;">Get Quote</button>
                            </div>
                        </div>
                    </section>
                    <br />
                </div>
                <!--End Vehicle Information Section-->
                <hr style="border:1px solid grey; margin-left:20px; margin-right:20px; margin-bottom:0px;" />
            </div>
            <div class="row pre-header">
                <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left:50px;">
                    <h3 style="color:black; margin-top:6px;">Vehicle Information</h3>
                    <div style="padding-left:40px;">
                        <h3 style="padding-bottom:10px; color:black;">Stats</h3>
                        <span class="detail-info-span">Engine :</span>
                        @{
                            var type = info.FuelType;
                            if (type == 0 || type == null)
                            {
                                <span class="value-span">UnKnown</span>
                            }
                            else if (type == 1)
                            {
                                <span class="value-span">Gas</span>
                            }
                            else if (type == 2)
                            {
                                <span class="value-span">Diesel</span>
                            }
                            else if (type == 3)
                            {
                                <span class="value-span">N/A</span>
                            }
                        }
                        <br />
                        <span class="detail-info-span">Vehicle Type :</span><span class="value-span">@info.ClassName</span><br />
                        <span class="detail-info-span">Towing Allowed :</span><span class="value-span">@(info.NoTowing == true ? "Yes" : "No")</span><br />
                        <span class="detail-info-span">Seat Belts :</span><span class="value-span">@(info.Belts ?? 0)</span><br />
                        <span class="detail-info-span">Length :</span><span class="value-span">@(info.Length ?? 0)</span><br />
                        <span class="detail-info-span">Pets Allowed :</span><span class="value-span">@(info.NoDogs == true ? "Yes" : "No")</span><br />
                        <span class="detail-info-span">Model :</span><span class="value-span">@info.Model</span><br />
                        <span class="detail-info-span">Smoking Allowed :</span><span class="value-span">@(info.SmokingAllowed == true ? "Yes" : "No")</span><br />
                        <span class="detail-info-span">Manufacturer :</span><span class="value-span">@(info.Make)</span><br />
                        <span class="detail-info-span">Year :</span><span class="value-span">@(info.Year)</span><br />
                        <span class="detail-info-span">Sleeps :</span><span class="value-span">@sleeps</span><br />
                        @{
                            var childrens = info.Children ?? 0;
                            for (var i = 0; i < sleeps - childrens; i++)
                            {
                                <i class="fa fa-male fa-lg" aria-hidden="true"></i>
                            }
                            for (var i = 0; i < childrens; i++)
                            {
                                <i class="fa fa-male fa-male" aria-hidden="true"></i>
                            }
                        }
                        <br /><br /><br />
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    @if (info.isShowCalendarOnWeb == true)
                    {
                        <div class="row" style="text-align:center">
                            <div id="detail_calendar" style="width:400px; margin:0 auto;"></div><br />
                        </div>
                        if (info.IsCalendarWithBookings == true && rentals.Count > 0)
                        {
                            <div style="text-align:center;">
                                <span style="border:1px solid; border-color:black; padding:10px;">
                                    <span style="color:black;">Legend:&nbsp;&nbsp;</span>
                                    <span style="color:white; background-color:#0066CC; padding: 6px;">Blue = Paid Booking</span>
                                    <span style="color:black; background-color:yellow;padding: 6px;">Yellow  = Owner Use</span>
                                </span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"><h3 style="padding-bottom:10px; margin-top:6px; padding-left:25px; color:black;">Details</h3></div>
                        </div>
                        <div class="row" style="color:black; padding-left:40px; padding-right:40px;">
                            @Html.Raw(info.WebDescription)
                            <br /><br />
                            @Html.Raw(info.OtherCostsDesc)
                            <p></p>
                        </div>
                    }
                </div>
            </div>
            @if (info.isShowCalendarOnWeb == true)
            {
                <div class="row pre-header">
                    <hr style="border:1px solid grey; margin-left:20px; margin-right:20px;" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"><h3 style="padding-bottom:10px; padding-left:65px; color:black;">Details</h3></div>
                        </div>
                        <div class="row" style="color:black; padding-left:80px; padding-right:80px;">
                            @Html.Raw(info.WebDescription)
                            <br /><br />
                            @Html.Raw(info.OtherCostsDesc)
                            <p></p>
                        </div>
                    </div>
                </div>
            }
            <div class="row pre-header" style="text-align:center;">
                <hr style="border:1px solid grey; margin-left:20px; margin-right:20px;" /><br />
                <h3 style="color:black; margin-top:-5px; padding-left:30px; padding-right:30px;">Similar vehicles in @info.City @info.State that might interest you</h3><br />
                @if (rand_vehicles != null && rand_vehicles.Count > 0)
                {
                    foreach (var rand_vehicle in rand_vehicles)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-4 vehicle-info">
                            <div class="primary-vehicle-div">
                                <a href='@Url.Action("Index", "VehicleDetail", new { id = rand_vehicle.WebUniqueId })'>
                                    @if (rand_vehicle.IsSquarePhoto == true)
                                    {
                                        <img src="data:image/jpg;base64, @Convert.ToBase64String(rand_vehicle.Photo)" class="clip-vehicle-img" />
                                    }
                                    else
                                    {
                                        <img src="data:image/jpg;base64, @Convert.ToBase64String(rand_vehicle.Photo)" class="vehicle-img" />
                                    }
                                    @if (rand_vehicle.InsurancePolicy != null)
                                    {
                                        if (rand_vehicle.IsSquarePhoto == true)
                                        {
                                            <h5 class="vehicle-license" style="margin-top:137px;">@rand_vehicle.Name<span>&nbsp;&#10033;</span></h5>
                                        }
                                        else
                                        {
                                            <h5 class="vehicle-license">@rand_vehicle.Name<span>&nbsp;&#10033;</span></h5>
                                        }
                                    }
                                    else
                                    {
                                        if (rand_vehicle.IsSquarePhoto == true)
                                        {
                                            <h5 class="vehicle-license" style="margin-top:137px;">@rand_vehicle.Name</h5>
                                        }
                                        else
                                        {
                                            <h5 class="vehicle-license">@rand_vehicle.Name</h5>
                                        }
                                    }
                                    <h6 class="vehicle-location">@rand_vehicle.LocationName</h6>
                                    @if (rand_vehicle.Price == null || rand_vehicle.Price == "")
                                    {
                                        <p class="vehicle-price"> - </p>
                                    }
                                    else
                                    {
                                        <p class="vehicle-price">@rand_vehicle.Price</p>
                                    }
                                </a>
                            </div>
                            <br />
                        </div>
                    }
                }
            </div>
        </div>
    }
    <p hidden>@TempData["Detail"]</p>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/gallery/amazingslider.js"></script>
<script src="~/Scripts/gallery/initslider-2.js"></script>
<script>
    $(document).ready(function(){
        sessionStorage.setItem("default_search", 0);

        sessionStorage.setItem("CurrentLocationSequenceId", '@info.LocationSequenceId');
        sessionStorage.setItem("CurrentLocationOid", '@info.Location');
        sessionStorage.setItem("CurrentClassType", '@info.ClassType');

        $('#checkout').click(function (e) {
            location.href = '@Url.Action("Index", "CheckOut", new { id = @info.WebUniqueId })';
        });
    });
</script>
<script>
    function getSelectedVehicle() 
    {
        var link = '@Url.Action("Index", "VehicleDetail", new { id = "-1" })';
        var x = document.getElementById("vehicle_id").value;
        link = link.replace("-1", x);
        location.href = link;
    }

    function SaveVehicleSequenceId(e)
    {
        var id = $(e).attr('id');
        sessionStorage.setItem("TargetVehicleSequenceId", id);
    }
</script>
<script>
	$(document).ready(function() {
	    var today = new Date();
	    var dd = today.getDate();
	    var mm = today.getMonth() + 1; //January is 0!
	    var yyyy = today.getFullYear();
	    today = mm + '-' + dd + '-' + yyyy;
	    var events_array = [];

	    var jArray = new Array();
	    var array = @Html.Raw(Json.Encode(rentals));
	    if(array == null)
	    {
	        $('#detail_calendar').fullCalendar({
	            header: {
	                left: 'prev',
	                center: 'title',
	                right: 'next'
	            },
	            defaultDate: today,
	            selectable: true,
	            selectHelper: true,
	            viewRender: function(currentView){
	                var minDate = moment();

	                if (minDate >= currentView.start && minDate <= currentView.end) {
	                    $(".fc-prev-button").prop('disabled', true);
	                    $(".fc-prev-button").addClass('fc-state-disabled');
	                }
	                else {
	                    $(".fc-prev-button").removeClass('fc-state-disabled');
	                    $(".fc-prev-button").prop('disabled', false);
	                }
	            }
	        });
	    }
	    else
	    {
	        for(var i = 0; i < array.length; i++){
	            jArray[i] = array[i];
	        }

	        for (var key in jArray)
	        {
	            if(jArray[key].IsOwnerRenting == 1){
	                events_array.push({'title': jArray[key].Destination, 'start': jArray[key].LeaveOn , 'end': jArray[key].ReturnOn, 'color': '#FFFF00', 'textColor': 'black'});
	            }
	            else{
	                events_array.push({'title': jArray[key].Destination, 'start': jArray[key].LeaveOn , 'end': jArray[key].ReturnOn, 'color': '#0066CC', 'textColor': 'white'});
	            }
	        }

	        $('#detail_calendar').fullCalendar({
	            header: {
	                left: 'prev',
	                center: 'title',
	                right: 'next'
	            },
	            defaultDate: today,
	            selectable: true,
	            selectHelper: true,
	            events: events_array,
	            viewRender: function(currentView){
	                var minDate = moment();

	                if (minDate >= currentView.start && minDate <= currentView.end) {
	                    $(".fc-prev-button").prop('disabled', true);
	                    $(".fc-prev-button").addClass('fc-state-disabled');
	                }
	                else {
	                    $(".fc-prev-button").removeClass('fc-state-disabled');
	                    $(".fc-prev-button").prop('disabled', false);
	                }
	            }
	        });
	    }
	});
</script>
