<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28588544-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-28588544-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W8F53ZD');</script>
    <!-- End Google Tag Manager -->
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    @{
        Response.Cache.SetValidUntilExpires(true);
        Response.Cache.SetExpires(DateTime.UtcNow.AddSeconds(1));
        Response.Cache.SetCacheability(HttpCacheability.Public);
        Response.Cache.VaryByParams[System.Configuration.ConfigurationManager.AppSettings["WebSite"]] = true;

        var file = Server.MapPath("~/Web.config");
        Response.AddFileDependency(file);
        Response.Cache.SetLastModifiedFromFileDependencies();
    }
    @RenderSection("AdditionalMeta", false)
    <meta name="author" content="">

    <link href="http://www.sharemycoach.com/UserData/Content/Images/smcbannerlogo1.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href="~/Content/css/general.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        var _g_website_url = '@System.Configuration.ConfigurationManager.AppSettings["WebSite"]';
        var _g_webapi_url = '@System.Configuration.ConfigurationManager.AppSettings["RMXWebService"]';
    </script>
    <script src="~/Content/js/Common/search-input.js"></script>
</head>
<body style="background-color:#F4F7F2">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8F53ZD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container" id="my_container">
        <!-----------------------------------------------------------------------START HEADER SECTION ------------------------------------------------------------------------>
        <div class="row visible-xs" style="margin-right:-30px;">
            <!--START mobile logo image-->
            <div class="row" style="align-content:center; text-align:center;">
                <div><img src="~/Content/images/header BG.png" class="img-responsive" /></div>
                <div>
                    <a href='@Url.Action("Index", "Home")'>
                        <img src="~/Content/images/Logo.png" class="mobile-logo" />
                    </a>
                </div>
                
            </div>
            <!--END mobile logo image-->
            <!--START mobile menu, search-bar, menu-items-->
            <div class="row" style="margin-top:-20px; margin-bottom:-20px;">
                <div class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <div class="row">
                                <div class="col-xs-7">
                                    <span id="quick-search-status" class="pull-left">Quick Search</span>
                                    <div class="search-bar" style="padding-top:8px; margin-left:10px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" id="input-vehicle-search-on-mobile">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" id="btn-vehicle-search-on-mobile">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-right:25px;">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    @Html.ActionLink("Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand pull-right" })
                                </div>
                            </div>
                        </div>
                        <div class="navbar-collapse collapse" id="mobile-div">
                            <ul class="nav navbar-nav" id="mobile-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("RV Owners", "Index", "RVOwners")</li>
                                <li>@Html.ActionLink("Resources", "Index", "Resources")</li>
                                <li>@Html.ActionLink("Testimonials", "Index", "Testimonials")</li>
                                <li>@Html.ActionLink("FAQ", "Index", "Faq")</li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--END mobile menu, search-bar, menu-items-->
        </div>
        <!--START menu, search-bar, menu-items of large-->
        <div class="row header-div hidden-xs">
            <div class="row" id="mobile-search-bar">
                <div class="col-lg-3 col-md-2 col-sm-2">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src="~/Content/images/Logo.png" class="header-logo" />
                    </a>
                </div>
                <div class="col-lg-9 col-md-10 col-sm-10">
                    <ul id="header-menu">
                        <li><a href='@Url.Action("Index", "RVOwners")'><span>RV OWNERS</span></a></li>
                        <li><a href='@Url.Action("Index", "Resources")'><span>RESOURCES</span></a></li>
                        <li><a href='@Url.Action("Index", "Testimonials")'><span>TESTIMONIALS</span></a></li>
                        <li><a href='@Url.Action("Index", "Contact")'><span>CONTACT</span></a></li>
                        <li>
                            <div class="dropdown">
                                <input class="dropdown-toggle" type="image" src="../../Content/images/if_menu-alt_134216.ico" data-toggle="dropdown" />
                                <ul class="dropdown-menu" style="left:-130px; border-radius:0px;" id="hamburger-ul"></ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-----------------------------------------------------------------------END HEADER SECTION ------------------------------------------------------------------------>
        <div class="row" id="main-content">
            <div class="row" style="background-color:white; border-right:2px solid black;">
                <div class="col-lg-10" id="left-content" style="padding-right:30px;">
                    @RenderBody()
                </div>
                <!--START Right Navigator-->
                <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
                    <div class="row">
                        <div class="row" style="padding-top:5px; text-align:center;">
                            <div class="col-lg-12">
                                <p><span style="font-size:25px;" class="bold-round">Pick Up Cities</span></p>
                                <br />
                                @foreach (var item in ViewBag.RightList)
                                {
                                    if (item.IsLocationBehindOnPaying == true)
                                    {
                                        <p class="disable_rightbar">
                                            <span class="right-bold-round">@item.City, @item.State</span>
                                            <br>
                                            <span class="right-script">@item.WebRegionalName Area</span>
                                        </p>
                                    }
                                    else
                                    {
                                        <a class="nolineA" href='@Url.Action("Location", "AllClassVehicles", new { id = @item.State + '-' + @item.City})'>
                                            <p class="rightbar">
                                                <span class="right-bold-round">@item.City, @item.State</span>
                                                <br>
                                                <span class="right-script">@item.WebRegionalName Area</span>
                                            </p>
                                        </a>
                                    }
                                    <br />
                                }
                                <img src="~/Content/images/RtNavCCLogos.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Right Navigator-->
            </div>
        </div>
        <!-----------------------------------------------------------------------START FOOTER SECTION ------------------------------------------------------------------------>
        <div class="row footer-div">
            <!--START footer menu -->
            <div class="row" style="background-color:#272424; height:auto;">
                <div class="row" style="margin:0 auto; text-align:center;">
                    <div class="col-md-3" style="margin:0 auto;"></div>
                    <div class="col-md-6" style="margin:0 auto;">
                        <br />
                        <h4 style="font-weight:bold; color: #FFF;">
                            Privately Owned RV Rentals<br>
                        </h4>
                        <br />
                    </div>
                    <div class="col-md-3" style="margin:0 auto;"></div>
                </div>
                <div class="row" style="margin:0 auto;">
                    <div class="row" style="margin:0 auto;">
                        <div id="overview_div" style="margin:0 auto;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-left:auto;">
                                        <h5 class="footer-menu-list">SHAREMYCOACH.COM</h5>
                                        <ul class="footer-ul">
                                            <li><a title="RVs For Sale" href='@Url.Action("Index", "VehiclesForSale")' class="footer-menu">*&nbsp;RVs and Trailers For Sale</a></li>
                                            <li><a title="Contact Share My RV Rental" href='@Url.Action("Index", "Contact")' class="footer-menu">*&nbsp;Contact Us</a></li>
                                            <li><a title="Our Story" target="_blank" href="https://vimeo.com/256642979" class="footer-menu">*&nbsp;Our Story</a></li>
                                        </ul>
                                        <h5 class="footer-menu-list">RV RENTALS</h5>
                                        <ul class="footer-ul">
                                            <li>
                                                <a title="RV Rentals" href='@Url.Action("Index", "Home")' class="footer-menu">
                                                    *&nbsp;RV Rentals
                                                </a>
                                            </li>
                                            <li>
                                                <a title="RV Rentals in Southern California" href='@Url.Action("Index", "Home")' class="footer-menu">
                                                    *&nbsp;Vehicle and Trailer Rentals
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Motorhome Rentals in California" href="#" class="footer-menu">
                                                    *&nbsp;RV Rental Quote Form
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Rent Your RV" href='@Url.Action("Index", "RVOwners")' class="footer-menu">
                                                    *&nbsp;Rent Your RV
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resource_div" style="margin:0 auto;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-left:auto;">
                                        <h5 class="footer-menu-list">RV RENTAL RESOURCES</h5>
                                        <ul class="footer-ul">
                                            <li>
                                                <a title="Frequently Asked RV Rental Questions" href='@Url.Action("Index", "Faq")' class="footer-menu">
                                                    *&nbsp;FAQ
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Motorhome Rental Testimonials" href='@Url.Action("Index", "Testimonials")' class="footer-menu">
                                                    *&nbsp;Testimonials
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Local California Campgrounds" href='@Url.Action("Index", "Campground")' class="footer-menu">
                                                    *&nbsp;Local Campsites
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Optional RV Rental Equipment" href='@Url.Action("Index", "OptionalEquipment")' class="footer-menu">
                                                    *&nbsp;Optional RV Equipment
                                                </a>
                                            </li>
                                            <li>
                                                <a title="RV Rental Newsletter" href='@Url.Action("Index", "NewsLetter")' class="footer-menu">
                                                    *&nbsp;RV Newsletter Sign Up
                                                </a>
                                            </li>
                                            <li>
                                                <a title="RV Rental Resources" href='@Url.Action("Index", "Resources")' class="footer-menu">
                                                    *&nbsp;RV Resources
                                                </a>
                                            </li>
                                            <li>
                                                <a title="RV Rental General Info" href='@Url.Action("Index", "GeneralInfo")' class="footer-menu">
                                                    *&nbsp;RV General Info
                                                </a>
                                            </li>
                                            <li>
                                                <a title="RV Training Videos" href='@Url.Action("Index", "RVTrainingVideos")' class="footer-menu">
                                                    *&nbsp;RV Training Videos
                                                </a>
                                            </li>
                                        </ul>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="destination_div" style="margin:0 auto;">
                        </div>
                        <div id="event_div" style="margin:0 auto;">
                        </div>
                    </div>
                    <div class="row" id="footer-description">
                        © <span id="footer-year">2018</span>@ViewBag.FooterData
                    </div>
                </div>
            </div>
            <!--END footer menu -->
            <div class="row" style="background-color:#4B4B4B;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5"><h5 class="poster-span">Connect With Us!</h5></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
                    <ul class="footer-logo">
                        <li><a target="_blank" href="http://www.facebook.com/pages/ShareMyCoachcom/123603684364145#!/pages/ShareMyCoachcom/123603684364145?sk=wall"><i class="fa fa-facebook footer-icon"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/sharemycoachusa"><i class="fa fa-twitter footer-icon"></i></a></li>
                        <li><a target="_blank" href="http://www.youtube.com/ShareMyCoach"><i class="fa fa-youtube footer-icon"></i></a></li>
                        <li><img src="~/Content/images/Artboard 1Yelp Icon.png" class="yelp-img"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-----------------------------------------------------------------------END FOOTER SECTION ------------------------------------------------------------------------>
    </div>
    <script>
        $(document).ready(function () {
            var destination_jArray = new Array();
            var event_jArray = new Array();
            var destination_arr = @Html.Raw(Json.Encode(ViewBag.DestinationList));
            var event_arr = @Html.Raw(Json.Encode(ViewBag.EventList));
            var url = '@System.Configuration.ConfigurationManager.AppSettings["WebSite"]';
            var session_oid = sessionStorage.getItem("CurrentLocationOid");
            //console.log("This is current location : " + session_oid);
            var current_location_sequence_id = sessionStorage.getItem("CurrentLocationSequenceId");
            //console.log("Current location is " + current_location_sequence_id);

            var location_infos = @Html.Raw(Json.Encode(ViewBag.RightList));
            //console.log(location_infos);

            if(current_location_sequence_id)
            {
                for(var i = 0; i < location_infos.length; i++)
                {
                    if(current_location_sequence_id == location_infos[i].SequenceId)
                    {
                        document.getElementById("hamburger-ul").innerHTML = 
                            '<li><a href="' + url + '"><span>Home</span></a></li>' +
                            '<li><a href="' + url + 'FAQ.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>FAQ</span></a></li>' +
                            '<li><a href="' + url + 'Insurance-Company.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>Insurance Company</span></a></li>' +
                            '<li><a href="' + url + 'Optional-Equipment.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>Optional Equipment</span></a></li>' +
                            '<li><a href="' + url + 'AddYourFleet.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>Add Your RV to the fleet</span></a></li>' +
                            '<li><a href="' + url + 'Vehicles-For-Sale.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>Buy an RV</span></a></li>' +
                            '<li><a href="' + url + 'General-Info.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>General Info</span></a></li>' +
                            '<li><a href="' + url + 'Campgrounds.aspx?location=' + location_infos[i].State + '-' + location_infos[i].City + '"><span>Campgrounds Map</span></a></li>' +
                            '<li><a href="' + url + 'Private-RV-Video-Training.aspx"><span>Orientation Videos</span></a></li>';
                            //'<li><a href="' + url + '" onclick="reloadSlideVideo()"><span>KOH Video</span></a></li>';
                        break;
                    }
                }
            }
            else
            {
                document.getElementById("hamburger-ul").innerHTML = 
                    '<li><a href="' + url + '"><span>Home</span></a></li>' +
                    '<li><a href="' + url + 'FAQ.aspx"><span>FAQ</span></a></li>' +
                    '<li><a href="' + url + 'Insurance-Company.aspx"><span>Insurance Company</span></a></li>' +
                    '<li><a href="' + url + 'Optional-Equipment.aspx"><span>Optional Equipment</span></a></li>' +
                    '<li><a href="' + url + 'AddYourFleet.aspx"><span>Add Your RV to the fleet</span></a></li>' +
                    '<li><a href="' + url + 'Vehicles-For-Sale.aspx"><span>Buy an RV</span></a></li>' +
                    '<li><a href="' + url + 'General-Info.aspx"><span>General Info</span></a></li>' +
                    '<li><a href="' + url + 'Campgrounds.aspx"><span>Campgrounds Map</span></a></li>' +
                    '<li><a href="' + url + 'Private-RV-Video-Training.aspx"><span>Orientation Videos</span></a></li>';
                    //'<li><a href="' + url + '" onclick="reloadSlideVideo()"><span>KOH Video</span></a></li>';
            }

            if(destination_arr)
            {
                for(var i = 0; i < destination_arr.length; i++)
                {
                    destination_jArray[i] = destination_arr[i];
                }
            }
            
            if(event_arr){
                for(var i = 0; i < event_arr.length; i++)
                {
                    event_jArray[i] = event_arr[i];
                }
            }

            var destination_content = '';
            var event_content = '';

            if(session_oid != null)
            {
                // to generate destination
                var destination_jArray_per_location = new Array();
                var index = 0;
                for(var i = 0; i < destination_jArray.length; i++)
                {
                    if(session_oid == destination_jArray[i].Location)
                    {
                        destination_jArray_per_location[index] = destination_jArray[i];
                        index++;
                    }
                }

                if(destination_jArray_per_location.length <= 7)
                {
                    for(var i = 0; i < destination_jArray_per_location.length; i++)
                    {
                        destination_content += '<li><a title="' + destination_jArray_per_location[i].MetaTitle + '" href="' + url + destination_jArray_per_location[i].ControllerName + '/'
                            + destination_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;' + destination_jArray_per_location[i].MetaTitle + '</a></li>';
                    }
                }
                else
                {
                    for(var i = 0; i < 7; i++)
                    {
                        destination_content += '<li><a title="' + destination_jArray_per_location[i].MetaTitle + '" href="' + url + destination_jArray_per_location[i].ControllerName + '/'
                            + destination_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;' + destination_jArray_per_location[i].MetaTitle + '</a></li>';
                    }

                    destination_content +=  '<li class="more_destinations_li"><a title="More..." href="javascript:;" class="footer-menu">more...</a></li>';

                    for(var i = 7; i < destination_jArray_per_location.length; i++)
                    {
                        destination_content += '<li class="hidden_destinations_li" style="display:none;"><a title="' + destination_jArray_per_location[i].MetaTitle + '" href="' + url
                            + destination_jArray_per_location[i].ControllerName + '/' + destination_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;'
                            + destination_jArray_per_location[i].MetaTitle + '</a></li>';
                    }
                }

                // to generate event
                var event_jArray_per_location = new Array();
                var event_index = 0;
                for(var i = 0; i < event_jArray.length; i++)
                {
                    if(session_oid == event_jArray[i].Location)
                    {
                        event_jArray_per_location[event_index] = event_jArray[i];
                        event_index++;
                    }
                }
                if(event_jArray_per_location.length <= 7)
                {
                    for(var i = 0; i < event_jArray_per_location.length; i++)
                    {
                        event_content += '<li><a title="' + event_jArray_per_location[i].MetaTitle + '" href="' + url + event_jArray_per_location[i].ControllerName + '/'
                            + event_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;' + event_jArray_per_location[i].MetaTitle + '</a></li>';
                    }
                }
                else
                {
                    for(var i = 0; i < 7; i++)
                    {
                        event_content += '<li><a title="' + event_jArray_per_location[i].MetaTitle + '" href="' + url + event_jArray_per_location[i].ControllerName + '/'
                            + event_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;' + event_jArray_per_location[i].MetaTitle + '</a></li>';
                    }

                    event_content +=  '<li class="more_events_li"><a title="More..." href="javascript:;" class="footer-menu">more...</a></li>';

                    for(var i = 7; i < event_jArray_per_location.length; i++)
                    {
                        event_content += '<li class="hidden_events_li" style="display:none;"><a title="' + event_jArray_per_location[i].MetaTitle + '" href="' + url
                            + event_jArray_per_location[i].ControllerName + '/' + event_jArray_per_location[i].ActionName + '" class="footer-menu">*&nbsp;'
                            + event_jArray_per_location[i].MetaTitle + '</a></li>';
                    }
                }
            }

            if(destination_content == '' && event_content == '')
            {
                document.getElementById('overview_div').className += "col-lg-6 col-md-6 col-sm-6";
                document.getElementById('resource_div').className += "col-lg-6 col-md-6 col-sm-6";
                document.getElementById('destination_div').className += "col-lg-6 col-md-6 col-sm-6";
                document.getElementById('event_div').className += "col-lg-6 col-md-6 col-sm-6";
            }
            else if(destination_content == '' || event_content == '')
            {
                document.getElementById('overview_div').className += "col-lg-4 col-md-4 col-sm-4";
                document.getElementById('resource_div').className += "col-lg-4 col-md-4 col-sm-4";
                document.getElementById('destination_div').className += "col-lg-4 col-md-4 col-sm-4";
                document.getElementById('event_div').className += "col-lg-4 col-md-4 col-sm-4";
            }
            else
            {
                document.getElementById('overview_div').className += "col-lg-3 col-md-6 col-sm-6";
                document.getElementById('resource_div').className += "col-lg-3 col-md-6 col-sm-6";
                document.getElementById('destination_div').className += "col-lg-3 col-md-6 col-sm-6";
                document.getElementById('event_div').className += "col-lg-3 col-md-6 col-sm-6";
            }

            if(destination_content)
            {
                document.getElementById('destination_div').innerHTML =
                '<div class="row"><div class="col-md-12"><div class="row" style="margin-left:auto;"><h5 class="footer-menu-list">POPULAR RV RENTAL DESTINATIONS</h5><ul class="footer-ul">'
                + destination_content + '</ul><br /></div></div></div>';
            }
            if(event_content)
            {
                document.getElementById('event_div').innerHTML =
                '<div class="row"><div class="col-md-12"><div class="row" style="margin-left:auto;"><h5 class="footer-menu-list">POPULAR RV RENTAL EVENTS</h5><ul class="footer-ul">'
                + event_content + '</ul><br /></div></div></div>';
            }

            $('.more_destinations_li').click(function () {
                $(this).css('display', 'none');
                $('.hidden_destinations_li').css('display', 'block');
                var container_div = document.getElementById('my_container');
                $(window).scrollTop(container_div.scrollHeight);
            });
            $('.more_events_li').click(function () {
                $(this).css('display', 'none');
                $('.hidden_events_li').css('display', 'block');
                var container_div = document.getElementById('my_container');
                $(window).scrollTop(container_div.scrollHeight);
            });

            // display footer year
            var date = new Date();
            var current_year = date.getFullYear();
            document.getElementById('footer-year').innerHTML = current_year;
        });
    </script>
    <script>
        function reloadSlideVideo()
        {
            var slide_video_status = sessionStorage.getItem('slide_video_status');
            if(slide_video_status){
                sessionStorage.removeItem('slide_video_status');
            }
        }
    </script>
</body>
</html>
