<!--General Info Specific View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; height:600px;">
        <hr class="top-separate-line" />
        <div id="general-info-header"></div>
        <div id="general-info-body"></div>
        <div id="general-info-footer"></div>
    </div>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var search_location_id = @ViewBag.SearchLocationSequenceId;
        if(search_location_id > 0){
            LoadGeneralInfoPage(search_location_id);
        }
        else{
            var sequence_id = sessionStorage.getItem("CurrentLocationSequenceId");
            LoadGeneralInfoPage(sequence_id);
        }
    });

    function LoadGeneralInfoPage(id)
    {
        var webapi_path = '@System.Configuration.ConfigurationManager.AppSettings["RMXWebService"]';
        var dirs = '@ViewBag.DirNames';
        var dir_arr = dirs.split(',');
        var is_found = false;
        for (var i = 0; i < dir_arr.length; i++) {
            if (id == dir_arr[i]) {
                is_found = true;
                break;
            }
        }
        if (is_found) 
        {
            $("#general-info-header").load('../UserContent/' + id + '/General_Info/Header.html', function (response, status, xhr) {
                if (status == "error") {
                    console.log("Not found Header.html....");
                }
            });
            $("#general-info-body").load('../UserContent/' + id + '/General_Info/General_Info.html', function (response, status, xhr) {
                if (status == "error") {
                    console.log("Not found General_Info.html....");
                }
            });
            $("#general-info-footer").load('../UserContent/' + id + '/General_Info/Footer.html', function (response, status, xhr) {
                if (status == "error") {
                    console.log("Not found Footer.html....");
                }
            });
        }
        else
        {
            $("#general-info-header").load("../UserContent/Common/General_Info/Header.html", function(response, status, xhr){
                if(status == "success")
                {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: webapi_path + "location" + "?token=AIzaSyAJSErr4vFLsOoylqQYkfQLKM26lnsHLXY",
                        success: function(data)
                        {
                            jsonValue = jQuery.parseJSON(JSON.stringify(data));
                            getLocationList(jsonValue);
                        },
                        error: function(error){ console.log(error.responseText); }
                    });
                }
                if(status == "error"){ console.log("header file loading error...."); }
            });
        }
    }

    function getLocationList(obj)
    {
        //console.log(obj);
        var website = '@System.Configuration.ConfigurationManager.AppSettings["WebSite"]';
        var list = '';
        if(obj.length > 0){
            for(var i = 0; i < obj.length; i++){
                list += '<li><a class="nolineA" href="' + website + 'GeneralInfo?location=' + obj[i].State + '-' + obj[i].City + '">' + obj[i].City + ', ' + obj[i].State + '</a></li>';
            }
        }
        else{
            list = '<h3 style="color:red;">Not Found Location Informations !</h3>';
        }

        document.getElementById('location-list').innerHTML = list;
    }
</script>
