@{
    Layout = null;
}
@using System.Text.RegularExpressions
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href="~/Content/css/flyer.css" rel="stylesheet" />
    <link href="~/Scripts/modal-video.min.css" rel="stylesheet" />
</head>
<body style="background-color:grey;">
    <div class="container" style="background-color:white; margin-top:10px; margin-bottom:10px; border:1px solid black;">
        <div class="row">
            @if (File.Exists(Server.MapPath("~/UserContent/" + @ViewBag.TargetDir + "/Header.html")))
            {
                @Html.Raw(File.ReadAllText(Server.MapPath("~/UserContent/" + @ViewBag.TargetDir + "/Header.html")));
            }
        </div>
        @if (ViewBag.Msg != null)
        {
            <div class="row">
                <div class="col-md-12"><h2 style="color:red; text-align:center;">@ViewBag.Msg</h2></div>
            </div>
        }
        @if (ViewBag.EventFlyer != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <table class="left-table">
                        <tbody>
                            @foreach (var row in ViewBag.EventFlyer)
                            {
                                if (string.IsNullOrEmpty(row.YouTubeID))
                                {
                                    <tr>
                                        @foreach (var sell in row.MediaList)
                                        {
                                            if (sell.PhotoCode == 0)
                                            {
                                                <td>
                                                    <span class="keyword-span">@row.QuickFindKeyWord</span>
                                                    <img src="data:image/jpg;base64, @Convert.ToBase64String(sell.Photo)" class="img-responsive vehicle-img" />
                                                    @if (ViewBag.Delivered == null && ViewBag.Delivered2 == null && ViewBag.Delivered3 == null && ViewBag.PickedUp == null)
                                                    {
                                                        <span class="price-range-span">@row.DailyRate</span>
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td><img src="data:image/jpg;base64, @Convert.ToBase64String(sell.Photo)" class="img-responsive vehicle-img" /></td>
                                            }
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr data-video-id="@row.YouTubeID" class="js-video-tr">
                                        @foreach (var sell in row.MediaList)
                                        {
                                            if (sell.PhotoCode == 0)
                                            {
                                                <td>
                                                    <span class="keyword-span">@row.QuickFindKeyWord</span>
                                                    <img src="data:image/jpg;base64, @Convert.ToBase64String(sell.Photo)" class="img-responsive vehicle-img" />
                                                    @if (ViewBag.Delivered == null && ViewBag.Delivered2 == null && ViewBag.Delivered3 == null && ViewBag.PickedUp == null)
                                                    {
                                                        <span class="price-range-span">@row.DailyRate</span>
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td><img src="data:image/jpg;base64, @Convert.ToBase64String(sell.Photo)" class="img-responsive vehicle-img" /></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <table style="margin-bottom:10px; border-spacing:0px 10px; border-collapse:separate;">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="padding-left:20px; border:2px solid black;">
                                        <h3 style="line-height:1.5; text-align:center;">
                                            For a Quick Quote<br />
                                            <a href="#quote-modal" data-toggle="modal">Click Here</a> or<br />Call 
                                            @if (ViewBag.MainEventInfo != null)
                                            {
                                                <a href="tel:@Regex.Replace(1 + ViewBag.MainEventInfo.MobilePhone, "[^0-9]+", string.Empty)">@ViewBag.MainEventInfo.MobilePhone</a>
                                            }
                                        </h3>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (File.Exists(Server.MapPath("~/UserContent/" + @ViewBag.TargetDir + "/RightSide.html")))
                                    {
                                        @Html.Raw(File.ReadAllText(Server.MapPath("~/UserContent/" + @ViewBag.TargetDir + "/RightSide.html")));
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align:center; color:red; font-weight:bold; margin-bottom:30px; margin-top:30px;">This category is sold out for this event</h3>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" style="background-color:white; margin-top:8%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" style="text-align:center;">Event Videos</h3>
            </div>
            <div class="modal-body">
                @if(!File.Exists(Server.MapPath("~/UserContent/" + ViewBag.TargetDir + "/VideoPlayer.html")))
                {
                    <h2 style="text-align:center;">No Videos</h2>
                }
                else
                {
                    @Html.Raw(File.ReadAllText(Server.MapPath("~/UserContent/" + ViewBag.TargetDir + "/VideoPlayer.html")));
                }
            </div>
        </div>
    </div>
    @if (ViewBag.EventFlyer != null)
    {
        <div class="modal fade" id="quote-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog quote-modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" style="text-align:center;">Fill out this information</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EventQuoteDialog" }))
                    {
                        <!-- Hidden datas -->
                        <input type="hidden" value="@ViewBag.TargetParam" name="target_param" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.OutgoingUserName" name="outgoing_username" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.OutgoingServerName" name="outgoing_servername" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.OutgoingPassword" name="outgoing_password" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.OutgoingServerPort" name="outgoing_serverport" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.PrimaryEmail" name="primary_email" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.SecondaryEmail" name="secondary_email" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.DBAName" name="dba_name" />
                        <input type="hidden" value="@ViewBag.MainEventInfo.MobilePhone" name="mobile_phone" />
                        <input type="hidden" value="@ViewBag.TargetDir" name="target_dir" />
                        <h6 style="text-align:center; color:red; margin-top:-5px;" id="valid-span">All fields are required</h6>
                        <div class="form-group form-inline">
                            <label>Coach number:</label>
                            <input type="text" class="form-control" id="number" name="number" style="float:right;" />
                        </div>
                        <div class="form-group form-inline">
                            <label>Name:</label>
                            <input type="text" class="form-control" id="user_name" name="user_name" style="float:right;" />
                        </div>
                        <div class="form-group form-inline">
                            <label>Primary Phone:</label>
                            <input type="text" class="form-control" id="user_primary_phone" name="user_primary_phone" style="float:right;" />
                        </div>
                        <div class="form-group form-inline">
                            <label>Mobile Phone:</label>
                            <input type="text" class="form-control" id="user_mobile_phone" name="user_mobile_phone" style="float:right;" />
                        </div>
                        <div class="form-group form-inline">
                            <label>Email:</label>
                            <input type="text" class="form-control" id="user_email" name="user_email" style="float:right;" />
                        </div>
                        <div class="form-group form-inline">
                            <label>Tell us where you want<br />your coach delivered:</label>
                            <input type="text" class="form-control" id="description" name="description" style="float:right;" />
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-lg btn-success quote-modal-btn" id="quote-submit">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-modal-video.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#valid-span').css('display', 'none');

            $(".js-video-tr").hover(function () {
                $(this).css('cursor', 'pointer');
            });
            $(".js-video-tr").modalVideo({
                allowFullScreen: true,
                animationSpeed: 300,
                classNames: {
                    modalVideo: 'modal-video',
                    modalVideoClose: 'modal-video-close',
                    modalVideoBody: 'modal-video-body',
                    modalVideoInner: 'modal-video-inner',
                    modalVideoIframeWrap: 'modal-video-movie-wrap',
                    modalVideoCloseBtn: 'modal-video-close-btn'
                },
                aria: {
                    openMessage: 'You just openned the modal video',
                    dismissBtnMessage: 'Close the modal by clicking here'
                }
            });

            $('#video-img').hover(function () {
                $(this).css('cursor', 'pointer');
            });

            var class_name = '@ViewBag.ClassName';
            var web_regional_name = '@ViewBag.WebRegionalName';
            if (class_name) {
                document.getElementById('my-title').innerHTML = 'Available ' + class_name + ' Vehicles';
            }
            else {
                document.getElementById('my-title').innerHTML = 'No Available Coaches';
            }

            var delivered = '@ViewBag.Delivered';
            var delivered2 = '@ViewBag.Delivered2';
            var delivered3 = '@ViewBag.Delivered3';
            var pickedup = '@ViewBag.PickedUp';

            var delivered_value = null;
            var delivered2_value = null;
            var delivered3_value = null;
            var pickedup_value = null;

            if (delivered) { delivered_value = delivered; }
            if (delivered2) { delivered2_value = delivered2; }
            if (delivered3) { delivered3_value = delivered3; }
            if (pickedup) { pickedup_value = pickedup; }

            if (delivered_value == null && delivered2_value == null && delivered3_value == null && pickedup_value == null)
            {
                $('#delivered-price-div').css('display', 'none');
            }
            else
            {
                if (delivered_value == null) {
                    $('#delivered-div').css('display', 'none');
                }
                else {
                    document.getElementById('delivered').innerHTML = delivered;
                }

                if (delivered2_value == null && delivered3_value == null && pickedup_value == null)
                {
                    $('#pickup-return-div').css('display', 'none');
                }
                else
                {
                    if (delivered2_value == null) {
                        $('#delivered2-div').css('display', 'none');
                    }
                    else {
                        document.getElementById('delivered2').innerHTML = delivered2;
                    }

                    if (delivered3_value == null) {
                        $('#delivered3-div').css('display', 'none');
                    }
                    else {
                        document.getElementById('delivered3').innerHTML = delivered3;
                    }

                    if (pickedup == null) {
                        $('#pickedup-div').css('display', 'none');
                    }
                    else {
                        document.getElementById('pickedup').innerHTML = pickedup;
                    }
                }
            }

            $('#quote-submit').click(function () {
                var number = $('#number').val();
                if (number === null || number === '') {
                    number = null;
                }
                var user_name = $('#user_name').val();
                if (user_name === null || user_name === '') {
                    user_name = null;
                }
                var user_primary_phone = $('#user_primary_phone').val();
                if (user_primary_phone === null || user_primary_phone === '') {
                    user_primary_phone = null;
                }
                var user_mobile_phone = $('#user_mobile_phone').val();
                if (user_mobile_phone === null || user_mobile_phone === '') {
                    user_mobile_phone = null;
                }
                var user_email = $('#user_email').val();
                if (user_email === null || user_email === '') {
                    user_email = null;
                }
                var description = $('#description').val();
                if (description === null || description === '') {
                    description = null;
                }
                if (number == null || user_name == null || user_primary_phone == null || user_mobile_phone == null || user_email == null || description == null) {
                    $('#valid-span').css('display', 'block');
                }
                else {
                    $('#valid-span').css('display', 'none');
                }
            });

            $('#quote-modal').on('hidden.bs.modal', function () {
                $('#valid-span').css('display', 'none');
            })

            $('#EventQuoteDialog').validate({
                rules: {
                    number: {
                        required: true
                    },
                    user_name: {
                        required: true
                    },
                    user_primary_phone: {
                        required: true
                    },
                    user_mobile_phone: {
                        required: true
                    },
                    user_email: {
                        required: true
                    },
                    description: {
                        required: true
                    }
                },
                messages: {
                    number: {
                        required: ""
                    },
                    user_name: {
                        required: ""
                    },
                    user_primary_phone: {
                        required: ""
                    },
                    user_mobile_phone: {
                        required: ""
                    },
                    user_email: {
                        required: ""
                    },
                    description: {
                        required: ""
                    }
                }
            });
        })
    </script>
    
</body>
</html>
